
/*Flexbox*/

.padding-left {
    padding-left: 30px;
}

.margin10 {
    margin: 10px;
}

.padding20 {
    padding: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.gap10 {
    gap: 10px;
}

.gap25 {
    gap: 25px;
}

.grow1 {
    flex: 1;
}

.grow2 {
    flex: 2;
}

.grow3 {
    flex: 3;
}

.grow4 {
    flex: 4;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end;
}

.j-around {
    justify-content: space-around;
}

.f-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-row {
    flex-direction: row;
}

.f-reverseRow {
    flex-direction: row-reverse;
}

.f-reverseColumn {
    flex-direction: column-reverse;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.f-colWrap {
    flex-flow: column wrap;
}

.rotate90 {
    rotate: 90deg;
}

/*INDIVIDUAL CLASSES*/

.container, .container-2 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.post-box, .image-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
}

.image-box img {
    width: 100%;
}

.chat-box {
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.chat-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.message-box {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.message-box input {
    width: 90%;
    margin-right: 20px;
}

.message-text {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.date {
    font-size: 10px;
    color: #c1c0c0;
}

.profile-image img {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.change-image, .image-input {
    width: 250px;
    margin: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.change-password {
    margin-top: 15px;
    margin-bottom: 15px;
}